/* Global */

body {
    background: black;
    
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;   
}

img {
   width: 100%;
}


/* Layout */

#title header {
    position: absolute;
    margin: 5% 30% 5% 33%;
}

header {
    margin: 5% 30% 5% 33%;
    color: #c5c3c3;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.25em;  
}


/* Typography */


h2 {
    font-family: 'Raleway', sans-serif;
    color: #c5c3c3;
    text-transform: uppercase;
}



p1 {
    font-family: 'Poiret One', cursive;
    color: #c5c3c3;
    font-size: 2em;
    padding: 10px;
    display: block; 
}

p2 {
    font-family: 'Source Code Pro';
    font-weight: 200;
    color: #c5c3c3;
    font-size: 1em;
    padding: 10px;
    text-transform: none;
    display: block; 
}

p3 {
    font-family: 'Source Code Pro';
    font-weight: 200;
    color: #c5c3c3;
    font-size: 1.25em;
    padding: 10px;
    display: block; 
}



/* Navigation */
ul, menu, dir {
    display: block;
    list-style-type: disc;
    text-align: center;
    -webkit-margin-before: 5em;
    -webkit-margin-after: 5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

li {
    color:grey;
    display: inline;
    padding: 1em;   
}

a {
    font-family: 'Poiret One', cursive;
    color: #323131;
    background: none;
    font-size: 3em;
    text-transform: uppercase;
    background: none;
    text-decoration: none;
    
    display: inline;
    height: 100px;
    width; 100px;
    
    transition: all .25s .25s;

}

a:hover, a:focus {
  color: lightgrey;
  border-radius: 8px;
}




/***************** Index page *********************/

.container {
  margin: 0 auto;
  width: 100%;  /* 1000px  == 100%. for good visual design, reduce max-width  */
  max-width: 90%; /* for good visual design, reduce max-width */  
}

article {
  float: left;
  margin: 1%; /* 10px / 900   = */
  padding: 1%; /* 10px / 225px  = .044444 % */
  width: 20%; /* 200px / 1000px  = 20% */
}

.box {  
  
    cursor: pointer;  
    width: 75%;
    height: 750px;
    float: left;  
    margin-left: 15%;  
    position: relative;  
    overflow: hidden;  
    background: none;
   
  
}  
  
 .box img {  
    position: absolute;  
    left: 0;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out;  
}  

.box .secondimage {  
    
    background-color: none;  
    position: absolute;  
    color: none;  
    z-index: 100;  
    -webkit-transition: all .5s ease-out;  
    -moz-transition: all .5s ease-out;  
    -o-transition: all .5s ease-out;  
    -ms-transition: all .5s ease-out;  
    transition: all .5s ease-out;  
    left: 0;  
    opacity: 0;  
    width: 100%;
    height: 750px;  
    text-align: left;  
    padding: 0px;
}  

 .box:hover .secondimage {  
    opacity: 1;  
}

/* Clearfix */
.container:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}




/********************** About Page **********************/

.container-about {
    margin: 5%;
    padding: 20px;
  width: 90%;  
  max-width: 90%;

}

.image-container {
  display: inline-block;
    padding: 5px;

  width: 360px;
  height: 485px;
  overflow: hidden;
  background: none;
  cursor: pointer;
    font-family: 'Source Code Pro';
  font-size: 14px;
  font-weight: 100;
  color: #fff;
  text-align: center;
}
.image {
  width: 360px;
  height: 485px;
  z-index: 1;
  transition: all 1s;
}
.image img {
  max-width: 100%;
}
.caption {
  width: 360px;
  height: 485px;
  padding-top: 200px;
  padding-bottom: 10px;
  background: rgba(0,0,0,.8);
  z-index: 2;
  font-weight: 300;
  transition: all 1s;
}

.caption-num6 {
  transform: translateY(-485px) translateY(-100%);
}
.image-container-num6:hover .caption-num6 {
  transform: translateY(-485px);
}

.break {
  display: none;
}
@media all and (max-width: 650px) {
  .image-container {
    margin: 10px;
    
  }
  .break {
    display: initial;
  }
}


/* Clearfix */
.container-about:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}





/********************** List Murals Page  **********************/

.container-mural-page {
    margin: 0 auto;
    padding: 20px;
    width: 70%;  
    max-width: 90%;

}

.container-mural {
  display: inline-block;
  position: relative;
    padding: 10px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  background: none;
  cursor: pointer;
}
.image1 {
  width: 300px;
  height: 300px;
  z-index: 1;
  transition: all .5s;
}
.image1 img {
  max-width: 100%;
	
}
.caption1 {
  width: 300px;
  height: 300px;
  padding-top: 100px;
  padding-bottom: 50px;
  background: rgba(0,0,0,.8);
  z-index: 2;
  font-family: 'Source Code Pro';
  font-weight: 300;
  font-size: .75em;
  transition: all .5s;
}

.caption-num1 {
  transform: translateY(-300px) translateY(-100%);
}
.image-container-num1:hover .caption-num1 {
  transform: translateY(-300px);
}
.image-container-num1:hover .image-num1 {
  opacity: .5;
}

@media all and (max-width: 650px) {
  .container-mural {
    margin: 10px;
    
  }
}






/***************** murals projects page *********************/

.container-projects {
  margin: 0 auto;
  width: 100%;  /* 1000px  == 100%. for good visual design, reduce max-width  */
  max-width: 80%; /* for good visual design, reduce max-width */  
}

article1 {
  float: left;
  margin: 0% 0% 10% 0%; /* 10px / 900   = */
  padding: 1%; /* 10px / 225px  = .044444 % */
  width: 90%; /* 200px / 1000px  = 20% */
    height: 50%;
}


/* Clearfix */
.container-projects:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
}






/********************** Previous Next < > Buttons **********************/

.container-button {
    
    background-color: none;
    border: none;
    width: 90px;
    height: auto;

    display: inline-block;
    margin: 20px;
}

    
.btn1 {
    float: left;
      margin: 5% .1% 5% .1%; /* 10px / 900   = */
      padding: .5% 2% .5% 2%; /* 10px / 225px  = .044444 % */
      width: 100%;
    height: 100%;
   
    background: #c5c3c3;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 0;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    &:hover,
    &:focus {
      outline: 0;
    }
    }
    &--previous {
      transition: padding .25s cubic-bezier(0.65, 0.05, 0.36, 1);
      &:before {
        content: '';
        visibility: hidden;
        display: inline-block;
        position: absolute;
        vertical-align: middle;
        transform: translate(-15px, 0px);
        transition: all .25s cubic-bezier(0.65, 0.05, 0.36, 1);
        opacity: 0;
      }
      &:hover, &:focus {
        padding-left: 28px;
        &:before {
          visibility: visible;
          transform: translate(-25px, 0px);
          opacity: 1;
        }
      }
    }

.btn2 {
    float: left;
      margin: 5% .1% 5% .1%; 
      padding: .5% 2% .5% 2%; 
      width: 100%;
    height: 100%;
    background: #c5c3c3;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 0;
    cursor: pointer;
    touch-action: manipulation;
    user-select: none;
    text-decoration: none;
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: .1em;
    
    &:hover,
    &:focus {
      outline: 0;
    }
    }
    &--next {
      transition: padding .25s cubic-bezier(0.65, 0.05, 0.36, 1);
      &:after {
        content: '';
        visibility: hidden;
        display: inline-block;
        position: absolute;
        background-image: url('http://mihaeltomic.com/share/next.svg');
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: 0px 4px;
        width: 24px;
        height: 24px;
        vertical-align: middle;
        transform: translate(-15px, 0px);
        transition: all .25s cubic-bezier(0.65, 0.05, 0.36, 1);
        opacity: 0;
      }
      &:hover, &:focus {
        padding-right: 28px;
        &:after {
          visibility: visible;
          transform: translate(5px, 0px);
          opacity: 1;
        }
      }
    }





/********************** Contact Page Submit Forms **********************/

label {
    font-family: 'Poiret One', cursive;
    color: #c5c3c3;
    font-size: 2em;
    text-transform: uppercase;
    margin: 20px 10px 10px 0px;
    
    display: inline-block; 
}

input {
    font-family: 'Source Code Pro';
    font-size: 2em;
    display: block;
    width: 50%;
    height: 60px;
}

textarea {
    font-family: 'Source Code Pro';
    font-size: 1em;
    display: block;
    width: 50%;
}

#button-send {
    font-family: 'Poiret One', cursive;
    color: #c5c3c3;
    font-size: 2em;
    text-transform: uppercase;
    margin: .5px;
    display: block;
	width: 50%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #000;
	color:white;
	padding-top: 10px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

#button-send:hover{
	background-color: #ff00cc;
	color: #000;
}
	
.submit:hover {
	color: #c5c3c3;
}
}