img {
    width: 25%;
}


body {
    
}
    background: lightblue;
}
<<<<<<< HEAD:css/Styles.css

h1 {
    element.style {
    color: azure;
    text-transform: uppercase;
    letter-spacing: 2px;
    }
}
=======
>>>>>>> origin/master:css/styles.css
